html, body {
    width: 100%;
    height: 100%;
    background-image: url(./image/content_background_image.jpeg);
    background-size:cover; 
    background-position:center center; 
    background-repeat:no-repeat;
}

.page_body{
    display: flex;
    flex-direction: column;
}

.map, .top_bars {
    width: 100%;
    height: 50%;
}

#map-div { 
    width: 100vw; height: 50vh; 
    align-items: center;
}

.top_bars {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top_bars_conteiner {
    width: 90%;
    height: 85%;
    background: rgb(131, 165, 167, .1);
    border-radius: 25px;
    border: 1px solid rgb(192, 232, 241);
    padding: 20px;
    display: flex;
    font-family: 'Comfortaa', cursive;
    flex-wrap: wrap;
    overflow: scroll;
    justify-content: space-around;
}

.top_bar_card {
    width: 32%;
    height: 48%;
    background: rgb(131, 165, 167, .5);
    border-radius: 25px;
    border: 1px solid rgb(192, 232, 241);
    margin: 5px;
}

.top_bar_card:hover {
    background: rgb(131, 165, 167, .7);
}

.bar_name {
    font-size: 25px;
}

.card_content {
    padding: 0px 10px 0px 10px;
}

.card_content_link {
    padding: 10px 10px 10px 10px;
}

.card_content_link  a {
    text-decoration: none;
    color: blanchedalmond;
}

.card_content_link  a:hover {
    text-decoration: none;
    color: rgb(196, 245, 245);
}

#spinner:not([hidden]) {
display: flex;
justify-content: center;
align-items: center;
}

#spinner::after {
content: "";
width: 80px;
height: 80px;
border: 2px solid #f3f3f3;
border-top: 3px solid #f25a41;
border-radius: 100%;
will-change: transform;
animation: spin 1s infinite linear
}

@keyframes spin {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}