html {
    background-image: url(./image/Background.jpeg);
    background-size:cover; 
    background-position:center center; 
    background-repeat:no-repeat;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.search_conteiner {
    background-color: white;
    width: 500px;
    height: 500px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    opacity: 0.9;
    flex-direction: column;
    align-items: center;
}

.search_conteiner_title {
    font-family: 'Comfortaa', cursive;
    position: absolute;
    top: 450px;
    font-size: 45px;
}

.search_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search_title {
    font-size: 30px;
    font-family: 'Comfortaa', cursive;
}

/* Style the search field */
.search_box input[type=text] {
    padding: 10px;
    font-size: 17px;
    font-family: 'Comfortaa', cursive;
    border: 1px solid grey;
    float: left;
    width: 90%;
    background: #f1f1f1;
    border-radius: 25px;
    border: 1.5px solid rgb(192, 232, 241);
    margin-top: 15px;
    }
    
/* Style the submit button */
.search_box button {
    float: left;
    width: 150px;
    height: 50px;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    border-radius: 25px;
    border: 1.5px solid rgb(192, 232, 241);
    margin-top: 5px;
}
    
.search_box button:hover {
    background: #0b7dda;
}